html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

/* Lower line-height of nav items enables background image not to repeat vertically. */
nav {
  line-height: 16px;
}

p {
  font-size: 14px;
}

h1, h2, h3 {
  font-weight: bold;
}

/* Larger font size of copyright links not specified in redline but clear from design: */
.copyright a {
  font-size: 16px;
}

header, .divider {
  background-image: url(images/the-flatiron-building.png);
  color: white;
}

h4 a {
  font-size: 18px;
/* font-weight not specified in redline but is clear from design */
  font-weight: normal;
  color: white;
}

.copyright, .copyright a {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
