html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

header, .divider {
  background-image: url(images/the-flatiron-building.png);
  color: white;
}

h4 a {
  font-size: 18px;
  font-weight: normal;
  color: white;
}
